<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="layout/header" th:remove="tag"></div>
<body>
    <div class="col col-md-12">
        <div class="col col-md-6">
            <form>
                <div class="form-group">
                    <label for="code">인증번호</label>
                    <input type="password" id="code" name="code" class="form-control"/>
                </div>
                <button th:data-id="${userId}" type="button" class="btn btn-info" id="btn-inactive-check">인증번호 확인</button>
            </form>
        </div>
    </div>
<div th:replace="layout/footer" th:remove="tag"></div>
<script th:src="@{/js/user/user.js}"></script>
</body>
</html>