<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="layout/header" th:remove="tag"></div>
<body>
<div class="col col-md-12">
    <div class="col col-md-6">
        <a href="/menu/todo-save" role="button" class="btn btn-primary">Todo 등록</a>
    <table class="table table-boarder table-horizontal">
        <thead>
        <tr>
            <th>Board Id</th>
            <th>Board Title</th>
            <th>Modified Date</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board: ${boards}">
            <td th:text="${board.id}"></td>
            <!-- {id}(id=${board.id})의 형식으로 동적인 url 을 만들어줌-->
            <td><a th:href="@{/menu/todo/{id}(id=${board.id})}" th:text="${board.title}"></a></td>
            <td th:text="${board.modifiedDate}"></td>
            <td><button type="button" class="btn btn-secondary btn-todo-delete">
                <input type="hidden" th:value="${board.id}"/>삭제
            </button></td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
    <div th:replace="layout/footer" th:remove="tag"></div>
<script th:src="@{/js/todo/todo.js}"></script>
</body>
</html>