<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="layout/header" th:remove="tag"></div>
<body>
    <div class="col col-md-12">
        <div class="col col-md-6">
            <form>
                <div class="form-group">
                    <label for="newPass">새 비밀번호</label>
                    <input type="password" class="form-control" id="newPass"/>
                    <p id="password-warning" style="display: none; color: red;">패스워드는 최소 한 가지 이상의 문자와 숫자 특수문자가 들어가야 합니다.</p>
                    <p id="password-good" style="display: none; color: limegreen">사용 가능한 패스워드입니다.</p>
                </div>
                <div class="form-group">
                    <label for="newPassCheck">비밀번호 확인</label>
                    <input type="password" class="form-control" id="newPassCheck"/>
                    <p id="password-warn" style="display: none; color: red;">패스워드가 일치하지 않습니다.</p>
                    <p id="password-confirm-good" style="display: none; color: limegreen">패스워드가 확인되었습니다.</p>
                </div>
            </form>
            <button type="button" class="btn btn-primary" id="btn-password-forgot-change">비밀번호 변경</button>
            <input type="hidden" id="email" th:value="${email}"/>
        </div>
    </div>
<div th:replace="layout/footer" th:remove="tag"></div>
<script th:src="@{/js/user/user.js}"></script>
</body>
</html>