<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="layout/header" th:remove="tag"></div>
<body>
    <div class="col col-md-12">
        <div class="col col-md-6">
            <form>
                <div class="form-group">
                    <label for="email">이메일</label>
                    <input type="email" id="email" class="form-control" placeholder="이메일을 입력하세요."/>
                </div>
                <button type="button" id="btn-email-exist" class="btn btn-secondary">이메일 확인</button>
                <div class="form-group" id="div-email-isExist" style="display: none">
                    <label for="question">질문</label>
                    <input id="question" class="form-control" type="text" readonly/>
                    <label for="answer">답변</label>
                    <input type="text" id="answer" class="form-control"/>
                </div>
            </form>
            <button type="button" id="btn-forgot-password" class="btn btn-primary" style="display: none">패스워드 찾기</button>
        </div>
    </div>
<div th:replace="layout/footer" th:remove="tag"></div>
<script th:src="@{/js/user/user.js}"></script>
</body>
</html>