<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="layout/header" th:remove="tag"></div>
<body>
<div class="col col-md-12">
    <div class="col col-md-6">
        <table class="table table-boarder table-horizontal">
            <tr>
                <th>기안자</th>
                <th>문서종류</th>
                <th>제목</th>
                <th>결재상태</th>
                <th>선택</th>
            </tr>
            <tr th:each="doc: ${docs}">
                <td th:text="${doc.user.name} + ' ' + ${doc.user.userLevel.title}"></td>
                <td th:text="${doc.documentsType.type}"></td>
                <td><a th:href="@{/api/docs/{id}(id=${doc.id})}" th:text="${doc.title}"></a></td>
                <td th:text="${doc.documentsStatus.status}"></td>
                <td><button id="btn-documents-confirm" type="button" class="btn btn-primary" th:data-doc-id="${doc.id}">결재</button></td>
            </tr>
        </table>
    </div>
</div>
<div th:replace="layout/footer" th:remove="tag"></div>
</body>
</html>